.chessboardContainer {
  width: 48vw;
  margin-left: 15vw;
}

.playerContainer {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 200px;
  padding: 8px 12px;
  background-color: #2a2a2a;
  color: white;
  border-radius: 8px;
}

.playerContainer img {
  width: 42px;
  height: auto;
  flex-shrink: 0;
}

.playerText {
  overflow-wrap: break-word;
}
